// src/assets/sass/Carrusel.module.scss
.carousel__container {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}
.carousel {
  width: 100%;  /* Asegura que el carrusel ocupe todo el ancho del contenedor */
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel__item {
  position: relative;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 16px; // p: 4 (multiplicado por 4px)
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item h4 {
  margin: 0;
  font-size: 2rem; /* Ajusta el tamaño de la fuente del título */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.carousel-item p {
  margin: 8px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
